<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

	<!-- do not use import statements if CXFServlet init parameters link to this beans.xml -->
	
	<context:annotation-config />
	<context:component-scan base-package="com.khan" />
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean id="jsonProvider"
		class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider" />

	<!-- <bean id = "swagger2Feature" class= "org.apache.cxf.jaxrs.swagger.Swagger2Feature" 
		> <property name="title" value= "Sample CXF JAX RS" /> <property name="prettyPrint" 
		value= "true" /> </bean> -->
	<bean id="openApiFeature"
		class="org.apache.cxf.jaxrs.openapi.OpenApiFeature">
		<property name="prettyPrint" value="true" />
		<property name="title" value="Sample CXF JAX RS" />
		<property name="contactName" value="Muazzam Khan" />
		<property name="contactEmail" value="MUAZZAM.KHAN@YAHOO>COM" />
	</bean>

	<jaxrs:server address="/person">
		<jaxrs:serviceBeans>
			<ref bean="personService" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="jsonProvider" />
			<!-- <ref bean="swagger2Feature" /> -->
			<ref bean="openApiFeature" />
		</jaxrs:providers>
	</jaxrs:server>
	<jaxrs:server address="/helloworld">
		<jaxrs:serviceBeans>
			<ref bean="helloWorldService" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="jsonProvider" />
			<!-- <ref bean="swagger2Feature" /> -->
			<ref bean="openApiFeature" />
		</jaxrs:providers>
	</jaxrs:server>	

	<bean id="personService"			class="com.khan.service.PersonServiceImpl" />
	<bean id="helloWorldService"		class="com.khan.service.HelloWorldServiceImpl" />

</beans>